<div class="mainContainer">
    <div class="container">
    <div class="name">{{bookInCart.name}}</div>
    <div class="author">{{bookInCart.author}}</div>
</div>
    <div class="imageContainer">
        <img class="imageImage" src="{{bookInCart.image}}">
        <div class="count">{{bookInCart.bookCount}}</div>
        <div class="price">{{bookInCart.price}}<br> руб.</div>
        <div class="buttonNotBuy">
        <app-buttonNotBuy [book]="bookInCart"></app-buttonNotBuy>  
    </div>
</div>
</div>

