    // color palette
    $p1:#f4f6ff;
    $p2:#ffcb74;
    $p3:#ea907a;
    $p4:#4f8a8b;
    //other
    .container {
        height: 200px;
        width: 300px;
        background-color: $p1;
        border-radius: 2px;
        z-index: 1;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        box-shadow: 3px 4px 4px black;
        color: black;
        margin: 10px;
    }
    
    .buttonNotGet {
        background-color: $p3;
        font-size: 24px;
        width: auto;
        height: 45px;
        margin-left: 22px;
    }