html,
body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family:'Courier New', Courier, monospace;
    background-color:#bccac9;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px;
}
