 $q1: #e1e9e9;
 $q2: #bccac9;
 $q3: #141816;
 $q4: #4b573c;
 $q5: #928c4f;

.sales {
    color: $q4;
    font-size: 7em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    position: absolute; left: 0; top: 0; width: 100%;
}
.promo {
    position: absolute; right: 0; top: 0; width: 50%;
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    text-align: right;
}