<html>
<style>
    body {
        background-color: #928c4f;
        height: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>
<body>
<div class="authorizationContainer1">
    <!--Форма для ввода промокода (авторизация)-->
    <div class="EnterPromo">
        <div class="LabelPromo1">Войти,<br> используя промокод</div>
        <mat-form-field appearance="outline" class="enter">
            <input matInput id="promo" [(ngModel)]="customerId" required placeholder="Введите промокод" />
        </mat-form-field>
        <div class="promoButtonEnter">
            <button mat-raised-button class="buttonEnter" (click)="onClickEnter()">Вход</button>
        </div>
    </div>
</div>

<!--Форма для получения промокода-->
<div class="authorizationContainer2">
    <div class="GetPromo">
        <div class="LabelPromo2">Получить промокод</div>
        <div class="promoButtonGet">
            <button mat-raised-button class="buttonGet" (click)="onClickGet()">Получить</button>
        </div>
    </div>
</div>
</body>
</html>