 // color palette
 $p1:#f4f6ff;
 $p2:#ffcb74;
 $p3:#ea907a;
 $p4:#4f8a8b;
 //
 .enter {
     padding: 0px;
     margin: 0px;
     width: 100%;
     height: auto;
 }
 
 .buttonEnter {
     background-color: $p4;
     font-size: 24px;
     width: auto;
     height: 50px;
 }
 
 .buttonGet {
     background-color: $p3;
     font-size: 24px;
     width: auto;
     height: 50px;
     margin-left: 22px;
 }
 
 .authorizationContainer {
     text-align: center;
     background-color: $p1;
     width: 300px;
     height: 380px;
     border-radius: 10px;
     box-shadow: 4px 4px 4px black;
     margin-top: 100px;
     margin-left: 40%;
     padding-top: 30px;
     padding-bottom: 20px;
     //  padding-right: 70px;
     //  padding-left: 70px;
 }
 
 .LabelPromo1 {
     border: 1px solid red;
     text-align: center;
     font-size: 20px;
     color: black;
     width: 300px;
     margin-bottom: 20px;
     margin-left: 0px;
 }
 
 .LabelPromo2 {
     font-size: 20px;
     color: black;
     text-align: center;
     width: 300px;
     margin-bottom: 20px;
 }
 
 #promo {
     font-size: 20px;
     height: 40px;
     color: black;
     border-color: $p4;
     border-width: 0.1px;
     border-style: solid;
     border-radius: 10px;
     width: 100%;
 }