// color palette
$p1:rgb(78, 57, 147);
$p2:rgb(156, 151, 200);
$o1:rgb(240, 102, 65);
$o2:rgb(251, 218, 198);
.mainContainer {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.appContentPlacement {
    background-color: transparent;
}
