 // color palette
 $p1:#f4f6ff;
 $p2:#ffcb74;
 $p3:#ea907a;
 $p4:#4f8a8b;

 $q1: #e1e9e9;
 $q2: #bccac9;
 $q3: #141816;
 $q4: #4b573c;
 $q5: #928c4f;
 .toCheckout {
     background-color: $q1 ;
     font-size: 20px;
     width: auto;
     height: 45px;
     margin-left: 45px;
     border-radius: 10px;
 }