    // color palette
    $p1:#f4f6ff;
    $p2:#ffcb74;
    $p3:#ea907a;
    $p4:#4f8a8b;
    $p5:#e05836;
    $c1:#040a00;
    $c2:#361e04;
    $c3:#7b3804;
    $c4:#c57129;
    $c5:#151702;
    $c6:#8b3301;
    $c7:#2a3a09;
    $c8:#261700;
    $c9:#561102;
    $c10:#a03002;
    //other
    $main-margin: 1%;
    .childContainer {
        height: 860px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
    }
    
    .bookstorePlacement {
        padding: 2px;
        background-color: $c4;
        flex: 1;
        margin-right: 0.5%;
        border-bottom-right-radius: 10%;
        margin-bottom: 20px;
    }
    
    .userplacePlacement {
        background-color: rgb(255, 255, 255);
        flex: 1;
        margin-bottom: $main-margin;
        margin-left: 0.5%;
    }
    
    .authorizationPlacement {
        flex: 1;
    }